.MMM-Wallpaper .content {
  background: #000;
  display: flex;
}

.MMM-Wallpaper .content-fill {
  background: #000;
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
}

.MMM-Wallpaper .wallpaper {
  margin: auto;
  width: 100%;
  height: 100%;
}

.MMM-Wallpaper .crossfade-image {
  transition: opacity 1s ease-in-out;
}

.MMM-Wallpaper .title {
  position: absolute;
  right: 25px;
  bottom: 25px;
  font-family: Roboto, sans-serif;
  font-weight: 100;
  font-size: 14px;
  line-height: 25px;
}

.MMM-Wallpaper .top-gradient {
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  height: 10%;
  background: linear-gradient(black, transparent);
}

.MMM-Wallpaper .bottom-gradient {
  position: fixed;
  bottom: 0px;
  left: 0px;
  right: 0px;
  height: 10%;
  background: linear-gradient(transparent, black);
}
