.MMM-Wallpaper .wallpaper {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
}

.MMM-Wallpaper .tall {
  width: 100%;
  height: auto;
}

.MMM-Wallpaper .wide {
  width: auto;
  height: 100%;
}

.MMM-Wallpaper .title {
	text-align: right;
	position: absolute;
	left: 50px;
	top: calc(100% - 60px);
  font-family: Roboto, sans-serif;
  font-weight: 100;
	font-size: 14px;
	line-height: 25px;
/*   -webkit-text-stroke-width: 1pt;
   -webkit-text-stroke-color: black;
*/}



